body {   
    
    background-image: url('../img/brg.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
 
}
    .custom-button {
        font-size: 1rem;
        padding: 12px 20px;
    }

.custom-button:disabled {
    cursor: not-allowed;
    opacity: 0.0;
}

.custom-button {
    background-color: #27ae60;
    color: white;
    font-size: 1.25rem;
    padding: 15px 30px;
    border-radius: 8px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;

}


th,

td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 1em;
    line-height: 0.5;
    transition: background-color 0.2s ease;
}

th {
    background-color: #2ecc71;
    color: #ffffff;
}

td {
    background-color: #fbfbfb;
}

tr:hover td {
    background-color: #e0ffe5;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1em;
    margin-bottom: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.encuesta-titulo {
    background-color: #2ecc71; /* Verde suave */
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
/* Estilo general para pantallas pequeñas */
@media only screen and (max-width: 600px) {
    body {
        padding: 0 10px; /* Añade un poco de margen para evitar que los elementos choquen con los bordes de la pantalla */
    }

}